*{
    font-family: Arial;
    color: blanchedalmond;
    background-color: rgb(7, 7, 7);
    text-align: center;
}

body{
    height: 100%;
    width: 100%;
    background-color: rgb(7, 7, 7);
}

header>img{
    width: 330px;
    height: 150px;
}

header>h2{
    font-style:italic;
    position: relative;
    margin-left: 52%;
    display: inline; 
}

table{
    width: 99%;
    border: 3px solid white;
}

.Informacion1 > div {
    color: black;
    text-align:center;
    background-color:rgb(248, 103, 99); 
    margin-left: 30%;
    width: 40%;
    height: 40%;
}

.img1 {
    width: 50%;
    height: 15%;
}

footer{
    height: 130px;
    width: 100%;
}

footer>img{
    margin-left: -26%;
    margin-top: 0.5%;
    width: 15%;
    left: 30%;
}

.TF{
    position: relative;
    top: -85%;
    left: 39%;   
}