*{
    font-family: Arial;
    color: blanchedalmond;
    text-align: center;
}
body{
    height: 100%;
    width: 100%;
    background-color: rgb(7, 7, 7);
}
header>img{
    width: 330px;
    height: 150px;
}
header>h2{
    font-style:italic;
    position: relative;
    margin-left: 52%;
    display: inline; 
}
table{
    width: 100%;
    border: 3px solid white;
  }

Formularios>img{
    width: 100%;
    height: 300px;
}

h1.destacado{ background-color: rgb(0, 52, 102); font-weight:bold; font-size:100%; text-align: left; size: 20%; }


  
.Informacion1 > div {
    margin-left: 30%;
  background-image:  url("https://newevolutiondesigns.com/images/freebies/galaxy-wallpaper-27.jpg"); width: 48em;height: 70px;
 
  }

footer{
    height: 130px;
    width: 100%;
   
}
footer>img{
    margin-left: -26%;
    margin-top: 0.5%;
    width: 15%;
    left: 30%;
}
.TF{
    position: relative;
    top: -85%;
    left: 39%;   
}
